workflows/n8n-notion-webhook.json
{
  "name": "OM Intelligence - Notion Webhook",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "databaseItemUpdated",
        "databaseId": "={{ $env.NOTION_DATABASE_ID }}",
        "filters": {
          "property": "Upload OM"
        }
      },
      "id": "notion-trigger",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-api",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-file",
              "leftValue": "={{ $json.properties['Upload OM']?.files?.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-has-file",
      "name": "Has File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OM_INTELLIGENCE_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "pageId": "={{ $json.id }}",
          "databaseId": "={{ $json.parent.database_id }}",
          "properties": "={{ JSON.stringify($json.properties) }}",
          "fileUrl": "={{ $json.properties['Upload OM']?.files?.[0]?.external?.url || $json.properties['Upload OM']?.files?.[0]?.file?.url }}"
        },
        "options": {
          "headers": {
            "headers": [
              {
                "name": "X-Webhook-Secret",
                "value": "={{ $env.NOTION_WEBHOOK_SECRET }}"
              }
            ]
          }
        }
      },
      "id": "webhook-call",
      "name": "Call OM Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "={{ $env.NOTION_DATABASE_ID }}",
        "pageId": "={{ $json.id }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Processing"
            }
          ]
        }
      },
      "id": "update-status",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        850,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-api",
          "name": "Notion API"
        }
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Has File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File?": {
      "main": [
        [
          {
            "node": "Call OM Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OM Intelligence": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "om-intelligence",
      "id": "om-tag",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
